    * {
      background-color: #1b1b1d;
      color: white;
    
    }
    .charts {
    min-width: 40rem;
    max-width: 40rem;
    margin: auto;
  }
  h1 {
    animation: colorchange 10s infinite; 
  }
  
  @keyframes colorchange
  {
    0%   {color: #4286f4;}
    25%  {color: #e3ef02;}
    50%  {color:#7112ed;}
    75%  {color: #ef0758;}
    100% {color:#ef0758;}
  }

  .home-title {
    text-align: center;
    clear: both;
    margin-top: 50px;
    padding: 20px;
    font-size: 50px;
  }
  h2 {
    font-weight: bold;
    padding-bottom: 20px;
  }
  h3 {
    padding-bottom: 20px;
    margin-left: 30px;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  
  .login {
    text-align: center;
  }
.search {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}
.home-table {
 
  margin-left: 40px;
}
.item {
  margin-left: 50px;
  
}
.item-table {
  border: 1px solid white;
  width: 600px;
  font-size: 15px;
  margin: auto;
}

.news {
  font-size: 13px;
  width: 800px;
  margin: auto;
}
.home-text {
  display: inline-block;
  /* letter-spacing: -0.02em;
  line-height: 49px; */
   margin-left: 100px;
}
.image {
  display: inline-block;
}

